
    <a href = "/show">Dashboard</a>
    <a asp-controller="Home" asp-action="logout"><button>Logout</button></a>
    <h3>@ViewBag.weddingrecord.SpouseOne and  @ViewBag.weddingrecord.SpouseTwo Wedding</h3>
    <h4> Date: @ViewBag.weddingrecord.WeddingDate.ToString("MMMM dd yyyy")</h4>
    <h4> Guests: </h4>
    @foreach (var a in @ViewBag.invitationrecords){
        <p> @a.user.FirstName </p>
    }
    