<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="./../../wwwroot/css/site.css" />
</head>
<body>

<a href="/logout">Log Out</a>

<h3> Welcome to the Wedding Planner! </h3>

@{
                if(ViewBag.status != null){
                    <p>@ViewBag.status[0]</p>
                }
            }


<table style = width: 100%>
    <tr>
        <th> Wedding </th>
        <th> Date </th>
        <th> Guests </th>
        <th> Action </th>
    </tr>

 @foreach(var wedding in @ViewBag.weddings){
        <tr> 
            <td><a href = "wedding/details/@wedding.WeddingId"> @wedding.SpouseOne and @wedding.SpouseTwo </td>
            <td> @wedding.WeddingDate.ToString("MMMM dd yyyy")</td>
            <td> @wedding.Invitations.Count </td>
            @{bool attending = false;}
            @if(@wedding.UserId == @ViewBag.UserId){
                <p> @wedding.UserId and @ViewBag.UserId</p>
                 <td><a href="wedding/deletewed/@wedding.WeddingId">Delete</a></td>
            }
           else{
                @foreach(var guest in @wedding.Invitations)
                {
                    @if(@guest.UserId == @ViewBag.UserId)
                    {
                        attending = true;
                    }
                }
                @if(attending){
                 <td> <a href = "wedding/notattending/@wedding.WeddingId">Un-RSVP</a></td>
              }
               else{
                <td> <a href = "wedding/attending/@wedding.WeddingId">RSVP</a></td>
              }
           }

      </tr>
      }  
</table>

</br></br>
<a href="/create"><button>Add a Wedding</button></a>
</body>
</html>